body {
  margin: 0px; }
  body .titulos {
    font-family: 'Montserrat-Bold';
    font-size: 25px; }
  body .text-color-blue {
    color: #50E3C2; }
  body .text-color-purple {
    color: #562fde; }
  body .text-color-list {
    color: #9CAFC3; }
  body .d-flex {
    display: flex; }
  body .flex-direction-column {
    flex-direction: column; }
  body .justify-content-center {
    justify-content: center; }
  body .text-align-center {
    text-align: center; }
  body .align-item-center {
    align-items: center; }
  body .ml-0 {
    margin-left: 0px; }
  body .ml-1 {
    margin-left: 1px; }
  body .ml-2 {
    margin-left: 2px; }
  body .ml-3 {
    margin-left: 3px; }
  body .mr-0 {
    margin-right: 0px; }
  body .mr-1 {
    margin-right: 1px; }
  body .mt-0 {
    margin-top: 0px; }
  body .mt-1 {
    margin-top: 1px; }
  body .mt-5 {
    margin-top: 5px; }
  body .mb-0 {
    margin-bottom: 0px; }
  body .mb-1 {
    margin-bottom: 1px; }
  body .p-1 {
    padding: 1px; }
  body .p-2 {
    padding: 2px; }
  body .pl-0 {
    padding-left: 0px; }
  body .pl-1 {
    padding-left: 1px; }
  body .pl-2 {
    padding-left: 2px; }
  body .pl-3 {
    padding-left: 3px; }
  body .pr-0 {
    padding-right: 0px; }
  body .pr-1 {
    padding-right: 1px; }
  body .pr-2 {
    padding-right: 2px; }
  body .pr-3 {
    padding-right: 3px; }
  body .pt-0 {
    padding-top: 0px; }
  body .pt-1 {
    padding-top: 1px; }
  body .pt-2 {
    padding-top: 2px; }
  body .pt-3 {
    padding-top: 3px; }
  body .pt-5 {
    padding-top: 5px; }
  body .pb-0 {
    padding-bottom: 0px; }
  body .pb-1 {
    padding-bottom: 1px; }
  body .pb-4 {
    padding-bottom: 4px; }
  body .small {
    font-size: 15px; }
  body .col-12 {
    box-sizing: border-box;
    width: calc(8.3% * 12); }
  body .col-6 {
    box-sizing: border-box;
    width: calc(8.3% * 6); }
  body .col-4 {
    box-sizing: border-box;
    width: calc(8.33333% * 4); }
  body .letra-list {
    font-family: 'Roboto-Regular';
    font-size: 16px;
    color: #9CAFC3; }
  body .new-gifos-section {
    display: none; }
  body .text-regular {
    font-family: 'Roboto-Regular';
    font-size: 16px; }

@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url("../../fonts/Monserrat/Montserrat-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url("../../fonts/Monserrat/Montserrat-Medium.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url("../../fonts/Roboto/Roboto-Regular.ttf") format("truetype"); }
.buscar-container .titulo-container {
  width: 286px; }
.buscar-container .img-main {
  width: 273px;
  height: 130px; }
.buscar-container .section-search {
  position: relative; }
  .buscar-container .section-search .input-buscar {
    background: #ffffff;
    border: 1px solid #572ee5;
    border-radius: 27px;
    width: 334px;
    height: 50px;
    margin-bottom: 15px;
    outline-offset: unset;
    outline: unset; }
  .buscar-container .section-search .input-buscando {
    background: #ffffff;
    width: 291px;
    height: 38px;
    border: 1px solid #9cafc3;
    border-radius: unset;
    border-top: unset;
    border-left: unset;
    border-right: unset;
    padding-bottom: 0px;
    padding-left: 3px;
    margin-top: 9px;
    margin-left: 12px; }
  .buscar-container .section-search .color-icon-search {
    color: #572EE5;
    position: absolute;
    margin-top: 23px;
    margin-left: -31px; }
.buscar-container .text-subtitulo {
  font-size: 16px;
  color: #572EE5;
  font-family: 'Montserrat-Bold';
  font-weight: bold; }
.buscar-container .text-action {
  padding-right: 75px;
  padding-left: 75px; }
  .buscar-container .text-action .trending-container a {
    display: inline-block; }
  .buscar-container .text-action .trending-container .text {
    color: #572EE5;
    font-family: 'Montserrat-Medium';
    font-size: 14px; }
.buscar-container .border-section-search {
  border: 1px solid #562fde;
  width: 334px;
  border-radius: 24px; }
  .buscar-container .border-section-search .list-sugerencias {
    padding-left: 14px; }
    .buscar-container .border-section-search .list-sugerencias .item {
      margin-top: -19px; }
.buscar-container .buscados-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px; }

.menu-container .menu {
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff; }
  .menu-container .menu .logo {
    padding: 0 80px;
    padding-top: 117px;
    padding-left: 25px; }
  .menu-container .menu .menu_items {
    display: flex;
    list-style: none;
    margin-right: 30px;
    position: fixed;
    width: 100vw;
    height: calc(100% - 65px);
    top: -100vh;
    text-align: center;
    transition: all 0.4s;
    flex-direction: column;
    background: rgba(87, 46, 229, 0.9);
    padding-left: 0px; }
    .menu-container .menu .menu_items li {
      border-radius: 3px;
      margin-left: -38px;
      margin: 14px 0 0 0;
      line-height: 30px; }
      .menu-container .menu .menu_items li :hover {
        background: none; }
      .menu-container .menu .menu_items li a {
        padding: 0px 13px;
        text-decoration: none;
        font-family: 'Montserrat-Bold';
        display: block;
        font-size: 15px;
        color: #ffffff;
        text-align: center;
        line-height: 60px; }
  .menu-container .menu .btn_menu {
    padding-right: 26px;
    padding-top: 26px; }
  .menu-container .menu ul.show {
    top: 77px; }

@media (min-width: 768px) {
  .menu-container .menu {
    align-items: unset;
    border-bottom: unset;
    width: 100vw; }
    .menu-container .menu .logo {
      padding-top: 23px;
      margin-left: 156px;
      padding-right: 0px;
      cursor: pointer; }
    .menu-container .menu .menu_items {
      flex-direction: row;
      top: 0px;
      background: unset;
      height: unset;
      position: unset;
      padding-inline-start: initial;
      margin: 0;
      width: unset;
      padding-right: 0px; }
      .menu-container .menu .menu_items li {
        margin: unset;
        display: flex;
        align-items: center;
        margin: 30px 0 0 0; }
        .menu-container .menu .menu_items li a {
          color: #572EE5;
          font-size: 20px;
          font-weight: bold;
          padding: 7px 13px; }
          .menu-container .menu .menu_items li a .crear-gifo {
            padding-top: 112px; }
            .menu-container .menu .menu_items li a .crear-gifo :hover {
              background-color: unset; }
    .menu-container .menu .btn_menu {
      display: none; } }
.section-trending-gifos .setion-pagination {
  margin-bottom: 22px; }
  .section-trending-gifos .setion-pagination .button-more {
    border: 1px solid #562fde;
    border-radius: 25px;
    width: 127px;
    height: 50px;
    color: #562fde;
    outline-offset: unset;
    outline: unset; }
.section-trending-gifos .trending {
  background-color: #e9eaea;
  padding-top: 5px;
  padding-bottom: 156px; }
  .section-trending-gifos .trending .img-gifos {
    padding-left: 22px;
    padding-right: 22px; }
    .section-trending-gifos .trending .img-gifos .button-next-before {
      display: none; }
    .section-trending-gifos .trending .img-gifos .gif {
      overflow-x: auto; }
      .section-trending-gifos .trending .img-gifos .gif .trending-traslate .gif-img {
        width: 243px;
        height: 187px;
        padding-left: 22px; }
  .section-trending-gifos .trending .paginacion {
    width: 243px;
    overflow-x: auto;
    justify-content: end; }
    .section-trending-gifos .trending .paginacion .button-paginacion {
      background: #572ee5;
      border: 1px solid #572ee5;
      color: white;
      border-radius: 20px;
      width: 32px;
      height: 32px; }

@media (min-width: 768px) {
  .section-trending-gifos .setion-pagination {
    margin-bottom: 22px; }
    .section-trending-gifos .setion-pagination .button-more {
      border: 1px solid #562fde;
      border-radius: 25px;
      width: 127px;
      height: 50px;
      color: #562fde;
      outline-offset: unset;
      outline: unset; }
  .section-trending-gifos .trending {
    background-color: #e9eaea;
    padding-top: 5px;
    padding-bottom: 156px; }
    .section-trending-gifos .trending .gifos-container {
      position: relative; }
      .section-trending-gifos .trending .gifos-container .option-trending-img {
        position: absolute;
        left: 432px;
        padding-top: 10px; }
        .section-trending-gifos .trending .gifos-container .option-trending-img .button-img-over {
          margin-left: 8px;
          width: 32px;
          height: 32px;
          background: #ffffff;
          border-radius: 6px;
          opacity: 0.7;
          border: none; }
      .section-trending-gifos .trending .gifos-container .img-gifos {
        padding-left: 156px;
        padding-right: 156px; }
        .section-trending-gifos .trending .gifos-container .img-gifos .button-next-before {
          display: block !important;
          height: 30px;
          width: 40px;
          margin-right: 15px;
          margin-top: 100px;
          cursor: pointer;
          color: #572EE5;
          border-color: #572EE5;
          border: solid 0.1px #572EE5; }
          .section-trending-gifos .trending .gifos-container .img-gifos .button-next-before :hover {
            background: #572EE5;
            color: white; }
        .section-trending-gifos .trending .gifos-container .img-gifos .before {
          margin-right: 15px; }
        .section-trending-gifos .trending .gifos-container .img-gifos .next {
          margin-left: 29px; }
        .section-trending-gifos .trending .gifos-container .img-gifos .gif {
          overflow-x: auto;
          overflow-x: hidden !important; }
          .section-trending-gifos .trending .gifos-container .img-gifos .gif .trending-traslate .gif-img {
            width: 357px;
            height: 275px;
            padding-left: 29px; }
          .section-trending-gifos .trending .gifos-container .img-gifos .gif .option-trending-img {
            position: absolute;
            padding-top: 10px; }
            .section-trending-gifos .trending .gifos-container .img-gifos .gif .option-trending-img .button-img-over {
              margin-left: 8px;
              width: 32px;
              height: 32px;
              background: #ffffff;
              border-radius: 6px;
              opacity: 0.7;
              border: none; }
    .section-trending-gifos .trending .paginacion {
      width: 243px;
      overflow-x: auto;
      justify-content: end; }
      .section-trending-gifos .trending .paginacion .button-paginacion {
        background: #572ee5;
        border: 1px solid #572ee5;
        color: white;
        border-radius: 20px;
        width: 32px;
        height: 32px; } }
footer {
  padding-top: 47px; }
  footer .copy-rights {
    padding-top: 47px; }

.new-gifos-container {
  padding-left: 25px;
  margin-left: 35px; }
  .new-gifos-container .record-container .img-record {
    margin-top: 140px;
    position: relative;
    margin-right: 118px; }
    .new-gifos-container .record-container .img-record .img-luz-camara {
      margin-top: 20px;
      position: absolute; }
  .new-gifos-container .record-container .marco-record {
    border: 1px solid #572EE5;
    width: 688px;
    height: 390px;
    margin-top: 34px;
    padding: 25px; }
    .new-gifos-container .record-container .marco-record .marcon-interior {
      width: 668px;
      height: 370px;
      background: white;
      margin: 2em auto;
      top: -21px;
      position: relative; }
      .new-gifos-container .record-container .marco-record .marcon-interior .titulo-container {
        top: 92px;
        left: 70px;
        width: 550px;
        position: absolute; }
      .new-gifos-container .record-container .marco-record .marcon-interior .marco-permisos {
        display: none; }
      .new-gifos-container .record-container .marco-record .marcon-interior:after {
        content: '';
        width: 678px;
        height: 380px;
        position: absolute;
        z-index: -1;
        top: -5px;
        left: -5px;
        background-image: linear-gradient(to left, transparent 30px, white 30px, white 648px, transparent 648px), linear-gradient(#50E3C2 30px, transparent 30px, transparent 350px, #50E3C2 350px); }
  .new-gifos-container .record-container .pelicula-img {
    margin-top: 454px;
    margin-left: 67px; }
  .new-gifos-container .pasos-container {
    padding-left: 25px;
    margin-left: 156px; }
    .new-gifos-container .pasos-container .button-pasos {
      border: 1px solid #562fde;
      color: #562fde;
      border-radius: 20px;
      width: 32px;
      height: 32px;
      margin-right: 37px; }
  .new-gifos-container .line-container {
    margin-top: 25px;
    margin-left: 35px; }
    .new-gifos-container .line-container .line {
      width: 795.9px;
      height: 6.9px;
      background: #562fde; }
  .new-gifos-container .button-start-container {
    margin-top: 10px; }
    .new-gifos-container .button-start-container .button-start {
      border: 1px solid #562fde;
      border-radius: 25px;
      width: 127px;
      height: 50px;
      color: #562fde;
      outline-offset: unset;
      outline: unset; }

/*# sourceMappingURL=styles.css.map */
